<nav class="container_nav">
    <ul class="container_ul_options">
        <li id="SERVICIO" class="active">SERVICIOS</li>
        <li id="CITA">INFORMACION CITA</li>
        <li id="RESUMEN">RESUMEN</li>
    </ul>
</nav>
